*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #364349;
    color: white
}

.calculator{
    position: absolute;
    display: grid;
    background-color: rgb(213, 216, 208);
    border-radius: 5px;
}

.calculator .value{
    grid-column: span 4;
    height: 60px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    background-color: rgb(71, 71, 78);
    place-items: center;
    margin: 3px;
}

.calculator span:active{
    background-color: chartreuse;
}
.clear{
    background-color: crimson !important;
}
.calculator span.clear{
    grid-column: span 2;
    width: 126px;
}
.calculator span.plus{
    grid-row: span 2;
    height: 126px;
}

.equal{
    background-color: rgb(25, 0, 255) !important;
    color: rgb(255, 234, 220) !important;
    font-size: 40px;
}